{% extends "!layout.html" %}
{% block body %}
<h1>Download page</h1>

<br/>

<table border="1" class="docutils">
  <thead>
    <tr>
      <th>Format</th>
      <th>Packed as .zip</th>
      <th>Packed as .tar.bz2</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>PDF</td>
      <td><a href="XXX">Download</a></td>
      <td><a href="XXX">Download</a></td>
    </tr>
    <tr>
      <td>HTML</td>
      <td><a href="XXX">Download</a></td>
      <td><a href="XXX">Download</a></td>
    </tr>
  </tbody>
</table>

<br/>

You can browse the code source of your documentation
<a href="http://git.hforge.org/?p=hforge-docs.git;a=summary">here</a>.

{% endblock %}
